@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main{
    height: 70vh;
    width: 40vw;
    padding: 10px;   
}

.image{
    height: 80%;
    background-image: url('/team-radiant.github.io/assets/404 image/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.containt{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin: 5px;
}

.btn{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size: 1.1rem;
    background: none;
    border: none;
    display: flex;
    gap: 5px;
}

.btn:hover{
    color: blue;
}